$bannerHeight: 250px;
$bannerWidth: 300px;

body{
  height: $bannerHeight;
  width: $bannerWidth;
}

#main {
  position: relative;
  display: none;
  height: $bannerHeight;
  width: $bannerWidth;
  overflow: hidden;
}

#ad{
    // Styles go here
}