$bannerHeight: 250px;
$bannerWidth: 300px;

body{
  height: $bannerHeight;
  width: $bannerWidth;
}

#main {
  position: relative;
  display: none;
  height: $bannerHeight;
  width: $bannerWidth;
  overflow: hidden;
}

body {
  font-family: 'SamsungOne';
  min-height: $bannerHeight;
  min-width: $bannerWidth;
}

#clicktag {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 100;
}

#border {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  z-index: 50;
}

#ad {
  height: 100%;
  width: 100%;
  background-color: #000;
  #logo-samsung {
      top: 10px;
      left: 15px;
  }
  #logo-note-8 {
      top: 10px;
      right: 15px;
  }
  #phone {
      top: 40px;
      left: 50px
  }
  #wave__holder--1 {
      top: 173px;
      left: -5px;
      height: 44px;
      width: 184px;
      transform-origin: bottom left;
      overflow: hidden;
  }
  #wave__holder--2 {
      top: 142px;
      left: 65px;
      height: 78px;
      width: 95px;
      transform-origin: bottom left;
      overflow: hidden;
  }
  #spen {
      top: 205px;
      left: 55px;
  }
  .text--center-align {
      top: 80px;
      left: 150px;
      width: 140px;
      transform: translateY(-50%);
  }
  // Fixes for IE
  @include ie-hotfix {
      .text--center-align {
          padding-top: 3px;
      }
  }
  .text {
      position: relative;
      display: block;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-family: 'SamsungSharpSans';
      font-weight: bold;
      font-style: normal;
  }
}

#cta {
  left: 220px;
  bottom: 55px;
  padding: 5px 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 125;
  white-space: nowrap;
  &:hover {
      background-color: #fff;
      color: #000;
  }
}

#reload {
  bottom: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  padding: 5px;
  z-index: 150;
  cursor: pointer;
}