$zBorder: 50;
$zClickTag: 100;
$zCTA: 125;
$zReload: 150;
body {
  font-family: Arial, Helvetica, sans-serif;
}

#clicktag {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: $zClickTag;
}

#border {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  z-index: $zBorder;
}

#ad {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#cta {
  left: 50%;
  bottom: 25px;
  padding: 5px 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: all 0.2s;
  cursor: pointer;
  z-index: $zCTA;
  white-space: nowrap;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

#reload {
  bottom: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  padding: 5px;
  z-index: $zReload;
  cursor: pointer;
}