@font-face {
  font-family: 'SamsungOne';
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff) format("woff"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.ttf) format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'SamsungOne';
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot);
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2) format("woff2"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff) format("woff"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.ttf) format("truetype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'SamsungSharpSans';
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
  src: url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"), url(//cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
  font-weight: bold;
  font-style: normal
}