$bannerHeight: 250px;
$bannerWidth: 300px;
body {
  height: $bannerHeight;
  width: $bannerWidth;
}

#main {
  position: relative;
  display: none;
  height: $bannerHeight;
  width: $bannerWidth;
  overflow: hidden;
}

#ad {
  #logo__samsung {
    top: 10px;
    left: 10px;
  }
  #frame-1__copy {
    top: 56px;
    left: 25px;
  }
  #frame-2__copy {
    top: 47px;
    left: 25px;
  }
  #red-1__holder,
  #red-2__holder,
  #blue-1__holder,
  #blue-2__holder {
    transform: translate(0, -15px);
  }
  #red-1,
  #red-2 {
    animation: red-snowflake-animation 2s ease-in-out infinite alternate;
    transform: translate(-50%, -50%) translateX(-5px);
  }
  @keyframes red-snowflake-animation {
    0% {
      transform: translate(-50%, -50%) translateX(-5px);
    }
    100% {
      transform: translate(-50%, -50%) translateX(5px);
    }
  }
  #blue-1,
  #blue-2 {
    animation: blue-snowflake-animation 2s ease-in-out infinite alternate;
    transform: translate(-50%, -50%) translateX(-10px);
  }
  @keyframes blue-snowflake-animation {
    0% {
      transform: translate(-50%, -50%) translateX(-10px);
    }
    100% {
      transform: translate(-50%, -50%) translateX(10px);
    }
  }
  #red-1 {
    animation-delay: (random(100)/100)+s;
  }
  #red-2 {
    animation-delay: (random(100)/100)+s;
  }
  #blue-1 {
    animation-delay: (random(100)/100)+s;
  }
  #blue-2 {
    animation-delay: (random(100)/100)+s;
  }
  #sled__holder {
    top: auto;
    bottom: 7px;
    left: auto;
    width: 196px;
    height: 139px;
    overflow: hidden;
    right: 0;
  }
  #sled {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  #box__ {
    &sport-gear {
      top: 77px;
      left: 229px;
      z-index: 90;
    }
    &tablet {
      top: 116px;
      left: 157px;
      z-index: 100;
    }
    &camera {
      top: 145px;
      left: 232px;
    }
  }
}

#cta {
  top: 104px;
  bottom: auto;
  left: 24px;
  transform: none;
  opacity: 1;
}

#disclaimer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 8px;
}