$bannerHeight: 250px;
$bannerWidth: 300px;
$pink: #f4c8d7;
$blue: #90b2de;
// Logo
$logoTop: 8px;
$logoLeftX: 10px;
$logoRightX: 10px;
// Main
body {
  height: $bannerHeight;
  width: $bannerWidth;
}

#main {
  position: relative;
  display: none;
  height: $bannerHeight;
  width: $bannerWidth;
  overflow: hidden;
}

#ad {
  .mask {
    overflow: hidden;
  }
  .logo__s8 {
    top: $logoTop;
    left: $logoLeftX;
  }
  .logo__note8 {
    top: $logoTop;
    left: auto;
    right: $logoRightX;
  }
  .pink-background {
    top: 0;
    left: 0;
    height: $bannerHeight;
    background-color: $pink;
    overflow: hidden;
  }
  .blue-background {
    top: 0;
    left: auto;
    right: 0;
    height: $bannerHeight;
    background-color: $blue;
    overflow: hidden;
  }
  #frame-1__pink--copy {
    top: 98px;
    left: 55px;
  }
  #frame-1__blue--copy {
    top: 98px;
    left: auto;
    right: 55px;
  }
  #frame-2__pink--phone {
    top: 59px;
    left: 25px;
  }
  #frame-2__pink--copy-mask {
    top: 104px;
    left: 177px;
    height: 39px;
    width: 104px;
  }
  #frame-2__pink--copy {
    opacity: 0;
  }
  #frame-2__blue--phone {
    top: 51px;
    left: auto;
    right: 12px;
  }
  #frame-2__blue--copy-mask {
    top: 85px;
    left: auto;
    right: 186px;
    height: 64px;
    width: 92px;
  }
  #frame-2__blue--copy {
    left: auto;
    right: 0;
    opacity: 0;
  }
  #frame-3__pink--phone {
    top: 67px;
    left: 40px;
  }
  #frame-3__blue--phone {
    top: 59px;
    left: auto;
    right: 36px;
  }
  #frame-4__pink--phone {
    top: 65px;
    left: 18px;
  }
  #frame-4__blue--phone {
    top: 57px;
    left: auto;
    right: 11px;
  }
  #frame-4__pink--copy {
    top: 173px;
    left: 46px;
  }
  #frame-4__blue--copy {
    top: 173px;
    left: auto;
    right: 43px;
  }
  #frame-4__pink--disclaimer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: $bannerWidth;
    text-align: center;
    font-size: 9px;
  }
  #frame-4__blue--disclaimer {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: $bannerWidth;
    text-align: center;
    font-size: 9px;
  }
}

#frame-4__pink--cta {
  position: absolute;
  bottom: 27px;
  left: 94px;
  font-size: 12px;
  padding: 5px 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

#frame-4__blue--cta {
  position: absolute;
  bottom: 27px;
  right: 94px;
  font-size: 12px;
  padding: 5px 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

#cta {
  font-size: 12px;
  display: none;
  margin-left: 0px;
  bottom: 27px;
}